<div class="container">
<div class="row">
  <% ["female", "unisex", "male"].each do |sex| %> 
  <div id="<%=sex%>" class="col-xs-4 col-sm-4 col-md-4 half-col">
    <h3>Best <%= sex.humanize %></h3>
    <% @top_images[sex].each do |o| %>
    <div class="row outfit-row">
      <%= link_to image_tag(o.image, :class => "outfit-img"), o %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
