<!-- Where most recent outfits are shown -->

<div class="container outfits">

<% @outfits.each do |outfit| %>
  <div class="outfit">
  <%= link_to outfit do %>
      <h3><%= outfit.name %></h3>

      <%= image_tag outfit.image.url(:thumb) %>

      <h3>Description</h3>
      <%= outfit.description %>
  <% end %>
  </div>
<% end %>

</div>