<!-- Where most recent outfits are shown -->

<div class="container outfits">
  <div class="row">
    <% @outfits.each_with_index do |outfit,i| %>
	<% if i % 6 == 0 %> 
	  </div>
      <div class="row">	  
	<% end %>
	<div class="col-md-2">
      <div class="outfit well">
        <%= link_to outfit do %>
          <div><h3><%= outfit.name %></h3></div>
          <div><%= image_tag outfit.image.url(:thumb) %></div>
          <div><%= outfit.description %></div>
        <% end %>
      </div>
	</div>
  <% end %>
  </div>
</div>
