<!DOCTYPE html>
<html>
<head>
  <title>401 unauthorized</title>
</head>

<body>
<p>That last button you pushed? Yeah, you weren't supposed to do that.</p>
<p>(401: Unauthorized. Try logging in?)</p>
<%= image_tag "last_button.gif" %>
</body>
</html>
