/* */

body {
  /* background-image: url('background.png'); */
  /* background: #c1b7ff; */
  width: 100%;
  margin: 0;
  background-color: lightblue;
}

#header {
  width: 100%;
  margin-top: 0em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #c1b7ff;
  list-style-type: none;
  display: table;
}

#logo {
  font-size: 2em;
}


.main-menu-item {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  margin: 1em;
}
