#content_wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.gender_pane {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align:middle;
  /* line-height: 13em; */
}

#male {
  overflow: hidden;
}
#female {
  overflow: hidden;
}

.female_tiles {
  float: right;
  margin-right: 2em;
}

.male_tiles {
  float: left;
  margin-left: 2em;
}

.best_tile > img{ 
}

#best_male > img{
  max-width: 100%;
  max-height: 100%;
}

#best_female > img {
  max-width: 100%;
  max-height: 100%;
}

.vote_bar > img {
  min-width: 32px;
}

.vote_bar {
  padding-top: 0.25em;
  background-color: #73A6FF;
  border-radius: 0 0 0.52em 0.52em;
}
