#content-wrapper {
  background: #ffffff;
  overflow: hidden;
  width: 70%;
  height: 100%;
}

.genderPane {
  float: left;
  background = grey;
  overflow: hidden;
}

#male {
  background = blue;
  overflow: hidden;
}
#female {
  background = pink;
  overflow: hidden;
}

.runnerUpTiles {
  background = black;
  overflow: hidden;
}

.bestTile { 
  overflow: hidden;
  background = black;
}
